<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.fitquest.mapper.board.BoardMapper">

    <select id="allBoards" parameterType="com.web.fitquest.model.searchCondition.SearchCondition" 
            resultType="com.web.fitquest.model.board.Board">
        SELECT b.id Id, 
            b.user_id userId, 
            b.tag, 
            b.date, 
            u.name writer,
            b.title, 
            b.content, 
            b.view_count viewCount,
            b.post_image postImage,
            (SELECT COUNT(*) 
                FROM comment c 
                WHERE c.board_id = b.id 
                AND c.is_delete = 0) as commentCount,  <!-- 서브쿼리로 댓글 수 조회 -->
            (SELECT COUNT(*) 
                FROM hit h 
                WHERE h.board_id = b.id) as hitCount   <!-- 서브쿼리로 좋아요 수 조회 -->
        FROM board b
        JOIN user u ON b.user_id = u.id
        <where>
            <if test="tag != null and tag != ''">
                b.tag = #{tag}
            </if>
        </where>
        ORDER BY b.date DESC
    </select>

    <select id="getBoard" parameterType="int" resultType="com.web.fitquest.model.board.Board">
        SELECT b.id Id, 
               b.user_id userId, 
               b.tag, 
               b.date, 
               u.name writer,  <!-- user_name을 name으로 변경 -->
               b.title, 
               b.content, 
               b.view_count viewCount,
               b.post_image postImage
        FROM board b
        JOIN user u ON b.user_id = u.id
        WHERE b.id = #{id}
    </select>

    <insert id="addBoard" parameterType="com.web.fitquest.model.board.Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (user_id, tag, writer, title, content)
        SELECT #{userId}, #{tag}, name, #{title}, #{content}  <!-- user_name을 name으로 변경 -->
        FROM user
        WHERE id = #{userId}
    </insert>

    <update id="updateBoard" parameterType="com.web.fitquest.model.board.Board">
        UPDATE board
        <set>
            <if test="tag != null">tag = #{tag},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="viewCount >= 0">view_count = #{viewCount},</if>
            <if test="postImage != null">post_image = #{postImage},</if>
            date = date  <!-- 날짜는 기존 값 유지 -->
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

    <select id="searchBoardsByCondition" parameterType="com.web.fitquest.model.searchCondition.SearchCondition" 
            resultType="com.web.fitquest.model.board.Board">
        SELECT b.id Id, 
            b.user_id userId, 
            b.tag, 
            b.date, 
            u.name writer,
            b.title, 
            b.content, 
            b.view_count viewCount,
            (SELECT COUNT(*) 
                FROM comment c 
                WHERE c.board_id = b.id 
                AND c.is_delete = 0) as commentCount,
            (SELECT COUNT(*) 
                FROM hit h 
                WHERE h.board_id = b.id) as hitCount
        FROM board b
        JOIN user u ON b.user_id = u.id
        <where>
            <choose>
                <when test="key == 'title'">
                    REPLACE(b.title, ' ', '') LIKE CONCAT('%', REPLACE(#{word}, ' ', ''), '%')
                </when>
                <when test="key == 'writer'">
                    REPLACE(u.name, ' ', '') LIKE CONCAT('%', REPLACE(#{word}, ' ', ''), '%')
                </when>
                <when test="key == 'content'">
                    REPLACE(b.content, ' ', '') LIKE CONCAT('%', REPLACE(#{word}, ' ', ''), '%')
                </when>
                <when test="key == 'all'">
                    (REPLACE(b.title, ' ', '') LIKE CONCAT('%', REPLACE(#{word}, ' ', ''), '%')
                    OR REPLACE(u.name, ' ', '') LIKE CONCAT('%', REPLACE(#{word}, ' ', ''), '%')
                    OR REPLACE(b.content, ' ', '') LIKE CONCAT('%', REPLACE(#{word}, ' ', ''), '%'))
                </when>
            </choose>
        </where>
        ORDER BY b.date DESC
    </select>

    <insert id="saveSearchHistory" parameterType="com.web.fitquest.model.SearchHistory">
        INSERT INTO search_history (user_id, content)
        SELECT #{userId}, #{content}
        WHERE NOT EXISTS (
            SELECT 1 
            FROM search_history 
            WHERE user_id = #{userId} 
            AND content = #{content}
        )
    </insert>

    <select id="getSearchHistory" parameterType="com.web.fitquest.model.SearchHistory" resultType="string">
        SELECT DISTINCT content
        FROM search_history
        WHERE user_id = #{userId}
        AND content LIKE CONCAT('%', #{content}, '%')  
        LIMIT 7
    </select>
</mapper>