<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.fitquest.mapper.user.UserMapper">
  <select id="selectUserByEmail" resultType="com.web.fitquest.model.user.User">
    select id, email, password, name, profile_image profileImage, is_admin isAdmin, description from user where email = #{email}
  </select>

  <select id="selectUserById" resultType="com.web.fitquest.model.user.User">
    select id, email, password, name, profile_image profileImage, is_admin isAdmin, description from user where id = #{id}
  </select>

  <select id="selectUserByName" resultType="com.web.fitquest.model.user.User">
    select id, email, password, name, profile_image profileImage, is_admin isAdmin, description from user where name = #{name}
  </select>

  <insert id="insertUser">
    insert into user (email, password, name, is_admin, description) values (#{email}, #{password}, #{name}, #{isAdmin}, #{description})
  </insert>

  <update id="updateUser">
    update user
    <set>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="profileImage != null">
        profile_image = #{profileImage},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin},
      </if>
      <if test="description != null">
        description = #{description}  
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectRandomUser" resultType="com.web.fitquest.model.user.User">
    select id, email, password, name, profile_image profileImage, is_admin isAdmin, description from user order by rand() limit 1
  </select>
</mapper>